<footer>
    <div class="border-t border-black-700 pt-10 mt-24">
        <div class="relative px-4 sm:px-8 lg:px-12">
            <div class="mx-auto max-w-2xl lg:max-w-5xl">
                <div class="flex flex-col items-center justify-between gap-6 sm:flex-row flex-wrap">
                    <div class="flex gap-6 text-sm font-medium text-zinc-800 dark:text-zinc-200 flex-wrap max-md:gap-x-14">
                        <a class="transition text-black-300 about" href="/about">Sobre mi</a>
                        <a class="transition text-black-300 articles" href="/articles">Articulos</a>
                        <a class="transition text-black-300">Proyectos</a>
                        <a class="transition text-black-300" >Hablemos</a>
                    </div>
                    <p class="text-sm text-gray">© 2023 Santiago Baron. Todos los derechos reservados.</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="/js/modules/menuSettings.js"></script>

</body> <!-- https://imgur.com/a/asnXqhm -->
</html>