<!DOCTYPE html>
<html lang="es" class="bg-black-900 font-poppins">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Santiago Baron Zuleta - Ingeniero en sistemas y desarrollador front-end</title>
    <meta name="description" content="Bienvenido a mi portafolio web, donde encontrarás información sobre mi experiencia y habilidades como desarrollador web, mis proyectos, artículos y mucho más.">
    <meta name="keywords" content="portafolio web, desarrollador web, diseño gráfico, proyectos, sitios web, santiago baron, Santiago Baron Zuleta">
    <link rel="icon" href="/assets/icon.png">
</head>

<body class="container bg-black-800 border-black-700 border-x-1 py-10 p-24 max-md:p-7 min-h-screen relative">

    <% if (page == 'home') { %>

        <div id="grid-decoration">
            <div class="absolute inset-x-0 top-0 h-96 rotate-180 text-gray-500/20 opacity-40 [mask-image:linear-gradient(to_bottom,transparent,white)]">
                <svg class="absolute inset-0 h-full w-full" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                        <pattern id="grid-pattern" width="32" height="32" patternUnits="userSpaceOnUse" x="50%" y="100%"
                            patternTransform="translate(0 -1)">
                            <path d="M0 32V.5H32" fill="none" stroke="#4c4c4c"></path>
                        </pattern>
                    </defs>
                    <rect width="100%" height="100%" fill="url(#grid-pattern)" ></rect>
                </svg>
            </div>
        </div>

    <% } %>
    
    <header class="flex relative md:mb-32 items-center justify-between max-md:block mb-20 header-animation">
        <div class="flex w-full justify-between mx-2 lg:w-56">
            <a href="/"><img src="/assets/logo.png" class="w-48 max-md:m-auto max-md:mb-8 home cursor-pointer"></a>

            <div class="pointer-events-auto lg:hidden flex max-md:block" data-headlessui-state="open">
                <button
                    class="max-md:mx-auto group flex rounded-full bg-gray-hover px-4 py-2 text-sm font-medium shadow-lg ring-1 ring-white/10 text-white"
                    id="menu-button" type="button" aria-expanded="true" data-headlessui-state="open"
                    aria-controls="headlessui-popover-panel-:Rqb6H1:">Menu
                    <svg viewBox="0 0 8 6" aria-hidden="true"
                        class="ml-3 mt-2 w-2 stroke-white">
                        <path d="M1.75 1.75 4 4.25l2.25-2.5" fill="none" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round">
                        </path>
                    </svg>
                </button>
                <div class="hidden" id="float-menu">
                    <div class="fixed inset-0 z-50 backdrop-blur-sm bg-black-900/80 opacity-100"
                        aria-hidden="true" data-headlessui-state="open"></div>
                    <div class="fixed inset-x-16 top-8 z-50 origin-top rounded-3xl bg-black-800 p-8"
                        id="menu-box" tabindex="-1" data-headlessui-state="open">
                        <div class="flex flex-row-reverse items-center justify-between">
                            <button aria-label="Close menu"
                                class="-m-1 p-1" type="button" data-headlessui-state="open" tabindex="0"><svg viewBox="0 0 24 24"
                                    aria-hidden="true" class="h-6 w-6 text-white" id="close-menu">
                                    <path d="m17.25 6.75-10.5 10.5M6.75 6.75l10.5 10.5" fill="none" stroke="currentColor"
                                        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg></button>
                            <h2 class="text-sm font-medium text-white">Menú de navegación</h2>
                        </div>
                        <nav class="mt-9">
                            <ul
                                class="-my-2 divide-y divide-black-700 text-base text-zinc-800 dark:divide-zinc-100/5 dark:text-zinc-300">
                                <li><a class="block py-3 text-white font-normal cursor-pointer home" data-headlessui-state="open" href="/">Inicio</a></li>
                                <li><a class="block py-3 text-white font-normal cursor-pointer about" data-headlessui-state="open" href="/about">Sobre mí</a></li>
                                <li><a class="block py-3 text-white font-normal cursor-pointer articles" data-headlessui-state="open" href="/articles">Artículos</a></li>
                                <li><a class="block py-3 text-white font-normal cursor-pointer" data-headlessui-state="open" href="/projects">Proyectos</a></li>
                                <li><a class="block py-3 text-white font-normal text-center border-white border-1 rounded-lg cursor-pointer mt-9" data-headlessui-state="open" href="/uses">Hablemos</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="flex-auto max-lg:hidden">
            <nav class="flex-auto">
                <ul class="flex items-center justify-end">
                    <li class="ml-12 text-white font-medium cursor-pointer home md:hidden xl:block"><a href="/" class="home-link">Inicio</a></li>
                    <li class="ml-12 text-white font-medium cursor-pointer about"><a href="/about" class="home-link">Sobre mí</a></li>
                    <li class="ml-12 text-white font-medium cursor-pointer articles"><a href="/articles" class="home-link">Artículos</a></li>
                    <li class="ml-12 text-white font-medium cursor-pointer"><a class="home-link" href="/projects">Proyectos</a></li>
                    <li class="ml-12 text-white font-medium px-10 py-2 bg-black-700 border-black-600 border-1 rounded-lg cursor-pointer">
                        Hablemos</li>
                </ul>
            </nav>
        </div>

    </header>