@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.border-1{
    border-width: 1px;
}

.border-x-1 {
    border-left-width: 1px;
    border-right-width: 1px;
}

.text-base-main {
    font-size: 1rem;
    line-height: 1.75rem;
}

.line-hight-fixed{
    line-height: 3.5rem;
}