@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.border-1{
    border-width: 1px;
}

.border-x-1 {
    border-left-width: 1px;
    border-right-width: 1px;
}

.text-base-main {
    font-size: 1rem;
    line-height: 1.75rem;
}

.line-hight-fixed{
    line-height: 3.5rem;
}

body::-webkit-scrollbar{
    width: 7px;
    background-color: transparent;
}
body::-webkit-scrollbar-track{
    background-color: #00000;
}
body::-webkit-scrollbar-thumb{
    background-color: #252525;
    border-radius: 5px;
}

.articleText *{
    margin-bottom: 25px;
}

.articleText p{
    color: #a4a4a4;
}

.articleText img{
    border-radius: 1.5rem;
}

.articleText a {
    color: #159184;
    font-weight: 500;
}

.articleText pre {
    word-wrap: break-word;
    white-space: pre-wrap;
    margin: 25px 0;
    border-radius: 1.5rem;
    background-color:#0e0e10;
    border: 1px solid #252525;
    color: #f4f4f5;
  }

.swal2-button{
    background-color: #000000 !important;
}

.swal2-button:focus{
    box-shadow: 0 0 0 3px rgba(20, 20, 20, 0.5) !important;
}
